{% extends "base.html" %}

{% block title_page %}E-Commerce - Home{% endblock %}

{% block container %}
    <div class="jumbotron page-header">
        <h1>{{ 'Django E-commerce' }}</h1>
        <p>Donec sollicitudin molestie malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur non
            nulla sit amet nisl tempus convallis quis ac lectus. Vestibulum ac diam sit amet quam vehicula elementum sed
            sit amet dui. Sed porttitor lectus nibh. Pellentesque in ipsum id orci porta dapibus. Pellentesque in ipsum
            id orci porta dapibus. Proin eget tortor risus. Curabitur aliquet quam id dui posuere blandit. Donec rutrum
            congue leo eget malesuada.</p>
        <p>
            <small>Curabitur aliquet quam id dui posuere blandit. Curabitur arcu erat, accumsan id imperdiet et,
                porttitor at sem.
            </small>
        <p><a class="btn btn-primary">Saiba mais</a></p>
    </div>
{% endblock %}